<div id="subjects">
  <h1><a href="/">Study Buddy</a></h1>

  <section id="all_subjects" class="all_subjects">
    <div class="subject">
      <h2><%= @all_topics[0][:subject_name] %><span><a href="/subject/<%= @subject_id %>">Cancel</a></span></h2>
    </div>

    <ul>
      <% @all_topics.each do |topic| %>
        <li>
          <a href="/subject/<%= @subject_id %>/topic/<%= topic[:id] %>">
            <%= topic[:name] %>
          </a>
          <form class="delete" action="/subject/<%= @subject_id %>/topic/<%= topic[:id] %>/destroy" method="post">
            <button type="submit" id="delete">X</button>
          </form>
        </li>
      <% end %>
    </ul>

    <label for="add">+</label>
    <input type="checkbox" id="add" hidden />

    <div class="subject">
      <form class="add" action="/subject/<%= @subject_id %>" method="post">
        <h2>Add Topics</h2>
        <input type="text" name="new_topic" id="new_topic" placeholder="Topic Name" />

        <button type="submit" id="button">Add</button>
      </form>
    </div>
  </section>
</div>